{# src/Maud/SportBundle/Resources/views/Save/reserver.html.twig #}


{% extends "MaudSportBundle::layout.html.twig" %}


{% block title %}

  Accueil - {{ parent() }}

{% endblock %}


{% block maudsport_body %}


  <h2>Liste des cours réservables </h2>


  <ul>

    {% for save in listSaves %}

      <li>
		Prochain
        <a href="http://www.neoness-forme.com/cours-reservation.php?resa=238923">

        {{ save.cours }}

        </a>

        à {{ save.club }}
		
		, le {{ save.jour }}
		
			<br>
				<a href="{{ path('cours_sport_nextsave',{'password': password,'id':save.id,'targetClubName': save.club, 'targetCourseName':save.cours,'targetDay':save.jour})}}" class="btn btn-default">
					<i class="glyphicon glyphicon-plus"></i>
					Réserver la prochaine date
				</a>
				<a href="{{ path('cours_sport_delete', {'id': save.id,'password':password}) }}" class="btn btn-danger">
					<i class="glyphicon glyphicon-trash"></i>
					Supprimer le favori
				</a>
			</br>

      </li>

    {% else %}

      <li>Pas de cours favoris </li>

    {% endfor %}

  </ul>


{% endblock %}